<nav class="side-nav">
    <a href="#" class="intro-x flex items-center flex-col justify-center pl-5 pt-4">
        <img alt="Midone - HTML Admin Template" class="main-logo" src="../assets/images/logo.png">
        <h4 class="hidden xl:block text-white text-base text-center logo-title mt-1 ">
            Supreme Council of Egyptian Universities
        </h4>
        <p class="hidden xl:block text-white text-xs text-center mt-1 ">Infection Prevention Control Dashboard</p>
    </a>
    <div class="side-nav__devider my-6"></div>
    <ul>
        <li>
            <a routerLink="/main-page" [routerLinkActive]="['side-menu--active']"
             (click)="navigateRouter('/main-page')"class="side-menu ">
                <div class="side-menu__icon">
                    <i class='bx bx-home-alt bx-sm'></i>

                </div>
                <div class="side-menu__title">
                    Main Page
                    <div class="side-menu__sub-icon transform rotate-180">
                        <i data-lucide="chevron-down"></i>
                    </div>
                </div>
            </a>

        </li>
        <li>
            <a routerLink="/needle-stick-injury" [routerLinkActive]="['side-menu--active']" (click)="navigateRouter('/needle-stick-injury')" class="side-menu">
                <div (click)="navigateRouter('/needle-stick-injury')" class="side-menu__icon">
                    <i class='bx bx-objects-vertical-top bx-sm'></i>
                </div>
                <div (click)="navigateRouter('/needle-stick-injury')" class="side-menu__title">
                    Needle Stick Injury
                </div>
            </a>
        </li>


      

        <li class="side-nav__devider my-6"></li>
        <li>
            <a href="javascript:;" class="side-menu">
                <div class="side-menu__icon">
                    <i class='bx bx-pie-chart-alt-2 bx-sm' ></i>
                </div>
                <div class="side-menu__title">
                    Charts
                    <div class="side-menu__sub-icon transform rotate-180">
                        <i data-lucide="chevron-down"></i>
                    </div>
                </div>
            </a>

        </li>


    </ul>


</nav>

