<nav class="side-nav">
    <a href="#" class="intro-x flex items-center pl-5 pt-4">
        <img alt="Midone - HTML Admin Template" class="w-6" src="../assets/images/logo.svg">
        <span class="hidden xl:block text-white text-lg ml-3">
            Black Belts
        </span>
    </a>
    <div class="side-nav__devider my-6"></div>
    <ul>
        <li>
            <a href="javascript:;" class="side-menu side-menu--active">
                <div class="side-menu__icon">
                    <i class='bx bx-home-alt bx-sm'></i>

                </div>
                <div class="side-menu__title">
                    Dashboard
                    <div class="side-menu__sub-icon transform rotate-180">
                        <i data-lucide="chevron-down"></i>
                    </div>
                </div>
            </a>

        </li>

        <li>
            <a href="#" class="side-menu">
                <div class="side-menu__icon">
                    <i class='bx bx-objects-vertical-top bx-sm'></i>
                </div>
                <div class="side-menu__title">
                    Post
                </div>
            </a>
        </li>


        <li>
            <a href="#" class="side-menu">
                <div class="side-menu__icon">
                    <i data-lucide="calendar"></i>
                    <i class='bx bx-calendar-event bx-sm'></i>
                </div>
                <div class="side-menu__title">
                    Calendar
                </div>
            </a>
        </li>

        <li class="side-nav__devider my-6"></li>
        <li>
            <a href="javascript:;" class="side-menu">
                <div class="side-menu__icon">
                    <i class='bx bx-pie-chart-alt-2 bx-sm' ></i>
                </div>
                <div class="side-menu__title">
                    Charts
                    <div class="side-menu__sub-icon transform rotate-180">
                        <i data-lucide="chevron-down"></i>
                    </div>
                </div>
            </a>

        </li>


    </ul>


</nav>

