<!-- BEGIN: Mobile Menu -->
<div class="mobile-menu md:hidden">
  <div class="mobile-menu-bar">
    <a href="dashboard-overview-1_2.htm" class="flex mr-auto">
      <img alt="Midone - HTML Admin Template" class="w-6" src="../assets/images/logo.svg">
    </a>
    <a href="javascript:;" class="mobile-menu-toggler">
      <i data-lucide="bar-chart-2" class="w-8 h-8 text-white transform -rotate-90"></i>
    </a>
  </div>
  <div class="scrollable">
    <a href="javascript:;" class="mobile-menu-toggler">
      <i data-lucide="x-circle" class="w-8 h-8 text-white transform -rotate-90"></i>
    </a>
    <ul class="scrollable__content py-2">
      <li>
        <a href="javascript:;" class="menu menu--active">
          <div class="menu__icon">
            <i data-lucide="home"></i>
          </div>
          <div class="menu__title">
            Dashboard
            <i data-lucide="chevron-down" class="menu__sub-icon transform rotate-180"></i>
          </div>
        </a>
        <ul class="menu__sub-open">
          <li>
            <a href="dashboard-overview-1.htm" class="menu menu--active">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Overview 1
              </div>
            </a>
          </li>
          <li>
            <a href="dashboard-overview-2.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Overview 2
              </div>
            </a>
          </li>
          <li>
            <a href="dashboard-overview-3.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Overview 3
              </div>
            </a>
          </li>
          <li>
            <a href="dashboard-overview-4.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Overview 4
              </div>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="menu">
          <div class="menu__icon">
            <i data-lucide="box"></i>
          </div>
          <div class="menu__title">
            Menu Layout
            <i data-lucide="chevron-down" class="menu__sub-icon "></i>
          </div>
        </a>
        <ul class="">
          <li>
            <a href="dashboard-overview-1.htm" class="menu menu--active">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Side Menu
              </div>
            </a>
          </li>
          <li>
            <a href="../../simple-menu/light/dashboard-overview-1.htm" class="menu menu--active">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Simple Menu
              </div>
            </a>
          </li>
          <li>
            <a href="../../top-menu/light/dashboard-overview-1.htm" class="menu menu--active">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Top Menu
              </div>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="menu">
          <div class="menu__icon">
            <i data-lucide="shopping-bag"></i>
          </div>
          <div class="menu__title">
            E-Commerce
            <i data-lucide="chevron-down" class="menu__sub-icon "></i>
          </div>
        </a>
        <ul class="">
          <li>
            <a href="categories.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Categories
              </div>
            </a>
          </li>
          <li>
            <a href="add-product.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Add Product
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:;" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Products
                <i data-lucide="chevron-down" class="menu__sub-icon "></i>
              </div>
            </a>
            <ul class="">
              <li>
                <a href="https://rubick.left4code.com/page/side-menu/light/product-list" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Product List</div>
                </a>
              </li>
              <li>
                <a href="product-grid.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Product Grid</div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Transactions
                <i data-lucide="chevron-down" class="menu__sub-icon "></i>
              </div>
            </a>
            <ul class="">
              <li>
                <a href="https://rubick.left4code.com/page/side-menu/light/transaction-list" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Transaction List</div>
                </a>
              </li>
              <li>
                <a href="transaction-detail.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Transaction Detail</div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Sellers
                <i data-lucide="chevron-down" class="menu__sub-icon "></i>
              </div>
            </a>
            <ul class="">
              <li>
                <a href="seller-list.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Seller List</div>
                </a>
              </li>
              <li>
                <a href="seller-detail.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Seller Detail</div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="reviews.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Reviews
              </div>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="inbox.htm" class="menu">
          <div class="menu__icon">
            <i data-lucide="inbox"></i>
          </div>
          <div class="menu__title">
            Inbox
          </div>
        </a>
      </li>
      <li>
        <a href="file-manager.htm" class="menu">
          <div class="menu__icon">
            <i data-lucide="hard-drive"></i>
          </div>
          <div class="menu__title">
            File Manager
          </div>
        </a>
      </li>
      <li>
        <a href="point-of-sale.htm" class="menu">
          <div class="menu__icon">
            <i data-lucide="credit-card"></i>
          </div>
          <div class="menu__title">
            Point of Sale
          </div>
        </a>
      </li>
      <li>
        <a href="chat.htm" class="menu">
          <div class="menu__icon">
            <i data-lucide="message-square"></i>
          </div>
          <div class="menu__title">
            Chat
          </div>
        </a>
      </li>
      <li>
        <a href="post.htm" class="menu">
          <div class="menu__icon">
            <i data-lucide="file-text"></i>
          </div>
          <div class="menu__title">
            Post
          </div>
        </a>
      </li>
      <li>
        <a href="calendar.htm" class="menu">
          <div class="menu__icon">
            <i data-lucide="calendar"></i>
          </div>
          <div class="menu__title">
            Calendar
          </div>
        </a>
      </li>
      <li class="menu__devider my-6"></li>
      <li>
        <a href="javascript:;" class="menu">
          <div class="menu__icon">
            <i data-lucide="edit"></i>
          </div>
          <div class="menu__title">
            Crud
            <i data-lucide="chevron-down" class="menu__sub-icon "></i>
          </div>
        </a>
        <ul class="">
          <li>
            <a href="crud-data-list.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Data List
              </div>
            </a>
          </li>
          <li>
            <a href="crud-form.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Form
              </div>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="menu">
          <div class="menu__icon">
            <i data-lucide="users"></i>
          </div>
          <div class="menu__title">
            Users
            <i data-lucide="chevron-down" class="menu__sub-icon "></i>
          </div>
        </a>
        <ul class="">
          <li>
            <a href="users-layout-1.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Layout 1
              </div>
            </a>
          </li>
          <li>
            <a href="users-layout-2.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Layout 2
              </div>
            </a>
          </li>
          <li>
            <a href="users-layout-3.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Layout 3
              </div>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="menu">
          <div class="menu__icon">
            <i data-lucide="trello"></i>
          </div>
          <div class="menu__title">
            Profile
            <i data-lucide="chevron-down" class="menu__sub-icon "></i>
          </div>
        </a>
        <ul class="">
          <li>
            <a href="profile-overview-1.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Overview 1
              </div>
            </a>
          </li>
          <li>
            <a href="profile-overview-2.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Overview 2
              </div>
            </a>
          </li>
          <li>
            <a href="profile-overview-3.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Overview 3
              </div>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="menu">
          <div class="menu__icon">
            <i data-lucide="layout"></i>
          </div>
          <div class="menu__title">
            Pages
            <i data-lucide="chevron-down" class="menu__sub-icon "></i>
          </div>
        </a>
        <ul class="">
          <li>
            <a href="javascript:;" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Wizards
                <i data-lucide="chevron-down" class="menu__sub-icon "></i>
              </div>
            </a>
            <ul class="">
              <li>
                <a href="wizard-layout-1.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Layout 1</div>
                </a>
              </li>
              <li>
                <a href="wizard-layout-2.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Layout 2</div>
                </a>
              </li>
              <li>
                <a href="wizard-layout-3.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Layout 3</div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Blog
                <i data-lucide="chevron-down" class="menu__sub-icon "></i>
              </div>
            </a>
            <ul class="">
              <li>
                <a href="blog-layout-1.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Layout 1</div>
                </a>
              </li>
              <li>
                <a href="blog-layout-2.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Layout 2</div>
                </a>
              </li>
              <li>
                <a href="blog-layout-3.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Layout 3</div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Pricing
                <i data-lucide="chevron-down" class="menu__sub-icon "></i>
              </div>
            </a>
            <ul class="">
              <li>
                <a href="pricing-layout-1.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Layout 1</div>
                </a>
              </li>
              <li>
                <a href="pricing-layout-2.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Layout 2</div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Invoice
                <i data-lucide="chevron-down" class="menu__sub-icon "></i>
              </div>
            </a>
            <ul class="">
              <li>
                <a href="invoice-layout-1.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Layout 1</div>
                </a>
              </li>
              <li>
                <a href="invoice-layout-2.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Layout 2</div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                FAQ
                <i data-lucide="chevron-down" class="menu__sub-icon "></i>
              </div>
            </a>
            <ul class="">
              <li>
                <a href="faq-layout-1.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Layout 1</div>
                </a>
              </li>
              <li>
                <a href="faq-layout-2.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Layout 2</div>
                </a>
              </li>
              <li>
                <a href="faq-layout-3.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Layout 3</div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="../../login/light/login.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Login
              </div>
            </a>
          </li>
          <li>
            <a href="../../login/light/register.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Register
              </div>
            </a>
          </li>
          <li>
            <a href="../../main/light/error-page.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Error Page
              </div>
            </a>
          </li>
          <li>
            <a href="update-profile.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Update profile
              </div>
            </a>
          </li>
          <li>
            <a href="change-password.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Change Password
              </div>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu__devider my-6"></li>
      <li>
        <a href="javascript:;" class="menu">
          <div class="menu__icon">
            <i data-lucide="inbox"></i>
          </div>
          <div class="menu__title">
            Components
            <i data-lucide="chevron-down" class="menu__sub-icon "></i>
          </div>
        </a>
        <ul class="">
          <li>
            <a href="javascript:;" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Table
                <i data-lucide="chevron-down" class="menu__sub-icon "></i>
              </div>
            </a>
            <ul class="">
              <li>
                <a href="regular-table.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Regular Table</div>
                </a>
              </li>
              <li>
                <a href="tabulator.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Tabulator</div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Overlay
                <i data-lucide="chevron-down" class="menu__sub-icon "></i>
              </div>
            </a>
            <ul class="">
              <li>
                <a href="modal.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Modal</div>
                </a>
              </li>
              <li>
                <a href="slide-over.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Slide Over</div>
                </a>
              </li>
              <li>
                <a href="notification.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Notification</div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="tab.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Tab
              </div>
            </a>
          </li>
          <li>
            <a href="accordion.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Accordion
              </div>
            </a>
          </li>
          <li>
            <a href="button.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Button
              </div>
            </a>
          </li>
          <li>
            <a href="alert.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Alert
              </div>
            </a>
          </li>
          <li>
            <a href="progress-bar.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Progress Bar
              </div>
            </a>
          </li>
          <li>
            <a href="tooltip.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Tooltip
              </div>
            </a>
          </li>
          <li>
            <a href="dropdown.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Dropdown
              </div>
            </a>
          </li>
          <li>
            <a href="typography.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Typography
              </div>
            </a>
          </li>
          <li>
            <a href="icon.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Icon
              </div>
            </a>
          </li>
          <li>
            <a href="loading-icon.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Loading Icon
              </div>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="menu">
          <div class="menu__icon">
            <i data-lucide="sidebar"></i>
          </div>
          <div class="menu__title">
            Forms
            <i data-lucide="chevron-down" class="menu__sub-icon "></i>
          </div>
        </a>
        <ul class="">
          <li>
            <a href="regular-form.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Regular Form
              </div>
            </a>
          </li>
          <li>
            <a href="datepicker.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Datepicker
              </div>
            </a>
          </li>
          <li>
            <a href="tom-select.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Tom Select
              </div>
            </a>
          </li>
          <li>
            <a href="file-upload.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                File Upload
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:;" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Wysiwyg Editor
                <i data-lucide="chevron-down" class="menu__sub-icon "></i>
              </div>
            </a>
            <ul class="">
              <li>
                <a href="wysiwyg-editor-classic.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Classic</div>
                </a>
              </li>
              <li>
                <a href="wysiwyg-editor-inline.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Inline</div>
                </a>
              </li>
              <li>
                <a href="wysiwyg-editor-balloon.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Balloon</div>
                </a>
              </li>
              <li>
                <a href="wysiwyg-editor-balloon-block.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Balloon Block</div>
                </a>
              </li>
              <li>
                <a href="wysiwyg-editor-document.htm" class="menu">
                  <div class="menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="menu__title">Document</div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="validation.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Validation
              </div>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="menu">
          <div class="menu__icon">
            <i data-lucide="hard-drive"></i>
          </div>
          <div class="menu__title">
            Widgets
            <i data-lucide="chevron-down" class="menu__sub-icon "></i>
          </div>
        </a>
        <ul class="">
          <li>
            <a href="chart.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Chart
              </div>
            </a>
          </li>
          <li>
            <a href="slider.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Slider
              </div>
            </a>
          </li>
          <li>
            <a href="image-zoom.htm" class="menu">
              <div class="menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="menu__title">
                Image Zoom
              </div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- END: Mobile Menu -->
<div class="flex mt-[4.7rem] md:mt-0">
  <!-- BEGIN: Side Menu -->
  <app-sidebar></app-sidebar>
  <!-- END: Side Menu -->
  <!-- BEGIN: Content -->
  <div class="content">
    <!-- BEGIN: Top Bar -->
    <app-topbar></app-topbar>
    <!-- END: Top Bar -->
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12 2xl:col-span-9">
        <div class="grid grid-cols-12 gap-6">
          <!-- BEGIN: General Report -->

          <div class="col-span-12 lg:col-span-6 mt-8">
            <app-main-chart [chartModel]="chartMonthly"></app-main-chart>
          </div>

          <div class="col-span-12 lg:col-span-6 mt-8">
            <app-main-chart [chartModel]="chartBars"></app-main-chart>
          </div>


          <div class="col-span-12 lg:col-span-6 mt-8">
            <app-pie-chart></app-pie-chart>
          </div>


        </div>
      </div>
      <div class="col-span-12 2xl:col-span-3">
        <div class="2xl:border-l -mb-10 pb-10">
          <div class="2xl:pl-6 grid grid-cols-12 gap-x-6 2xl:gap-x-0 gap-y-6">
            <!-- BEGIN: Transactions -->
            <div class="col-span-12 md:col-span-6 xl:col-span-4 2xl:col-span-12 mt-3 2xl:mt-8">
              <div class="intro-x flex items-center h-10">
                <h2 class="text-lg font-medium truncate mr-5">Transactions</h2>
              </div>
              <div class="mt-5">
                <div class="intro-x">
                  <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                      <img alt="Midone - HTML Admin Template" src="../assets/images/profile-2.jpg">
                    </div>
                    <div class="ml-4 mr-auto">
                      <div class="font-medium">Russell Crowe</div>
                      <div class="text-slate-500 text-xs mt-0.5">1 May 2022</div>
                    </div>
                    <div class="text-success">+$46</div>
                  </div>
                </div>
                <div class="intro-x">
                  <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                      <img alt="Midone - HTML Admin Template" src="../assets/images/profile-13.jpg">
                    </div>
                    <div class="ml-4 mr-auto">
                      <div class="font-medium">Kevin Spacey</div>
                      <div class="text-slate-500 text-xs mt-0.5">27 October 2022</div>
                    </div>
                    <div class="text-danger">-$64</div>
                  </div>
                </div>
                <div class="intro-x">
                  <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                      <img alt="Midone - HTML Admin Template" src="../assets/images/profile-4.jpg">
                    </div>
                    <div class="ml-4 mr-auto">
                      <div class="font-medium">Denzel Washington</div>
                      <div class="text-slate-500 text-xs mt-0.5">27 May 2020</div>
                    </div>
                    <div class="text-success">+$183</div>
                  </div>
                </div>
                <div class="intro-x">
                  <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                      <img alt="Midone - HTML Admin Template" src="../assets/images/profile-1.jpg">
                    </div>
                    <div class="ml-4 mr-auto">
                      <div class="font-medium">Kevin Spacey</div>
                      <div class="text-slate-500 text-xs mt-0.5">11 April 2022</div>
                    </div>
                    <div class="text-danger">-$37</div>
                  </div>
                </div>
                <div class="intro-x">
                  <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                      <img alt="Midone - HTML Admin Template" src="../assets/images/profile-5.jpg">
                    </div>
                    <div class="ml-4 mr-auto">
                      <div class="font-medium">Robert De Niro</div>
                      <div class="text-slate-500 text-xs mt-0.5">23 November 2020</div>
                    </div>
                    <div class="text-danger">-$27</div>
                  </div>
                </div>
                <a href="dashboard-overview-1_2.htm"
                  class="intro-x w-full block text-center rounded-md py-3 border border-dotted border-slate-400 dark:border-darkmode-300 text-slate-500">View
                  More</a>
              </div>
            </div>
          

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Content -->
</div>