
        <div class="row ">
            <div class="filter  relative  mt-3 ">
                <div class="b-filter"><i class='bx bx-filter-alt bx-sm'></i></div>
            
                <div class="inbox-filter dropdown absolute inset-y-0 mr-3 right-0 flex items-center" data-tw-placement="bottom-start">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="chevron-down" class="lucide lucide-chevron-down dropdown-toggle w-4 h-4 cursor-pointer text-slate-500" role="button" aria-expanded="false" data-tw-toggle="dropdown" data-lucide="chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    <div class="inbox-filter__dropdown-menu dropdown-menu pt-2" id="_gv2jqyzee" data-popper-placement="bottom-start" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 27.2px, 0px);">
                        <div class="dropdown-content">
                            <div class="grid grid-cols-12 gap-4 gap-y-3 p-3">

                                <div class="col-span-6">
                                    <label for="input-filter-6" class="form-label text-xs">Universities</label>
                                    <select id="input-filter-6" class="form-select flex-1">
                                        <option>Cairo</option>
                                        <option>Ain Shams</option>
                                        <option>Helwan</option>
                                        <option>Alexandria</option>
                                    </select>
                                </div>

                                <div class="col-span-6">
                                    <label for="input-filter-6" class="form-label text-xs">Hospitals</label>
                                    <select id="input-filter-6" class="form-select flex-1">
                                        <option>Hospital-1</option>
                                        <option>Hospital-2</option>
                                        <option>Hospital-3</option>
                                        <option>Hospital-4</option>
                                    </select>
                                </div>

                                <div class="col-span-6">
                                    <label for="input-filter-2" class="form-label text-xs">From</label>
                                    <input id="input-filter-2" type="month" class="form-control flex-1" placeholder="example@gmail.com">
                                </div>
                                <div class="col-span-6">
                                    <label for="input-filter-3" class="form-label text-xs">To</label>
                                    <input id="input-filter-3" type="month" class="form-control flex-1" placeholder="Important Meeting">                              
                               
                            </div>
                            <div class="col-span-12 flex items-center mt-3">
                                <button class="btn btn-secondary w-32 mx-auto">Create Filter</button>
                                <!-- <button class="btn btn-primary w-32 ml-2">Search</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>